@model Battleships_MBernacki.Models.GameRoom;

@{
    ViewData["Title"] = "GameRoom";
}

<h2 id="roomName">GameRoom</h2>
<h3 id="oponentName">Playing versus</h3>

<script>
    //let tmp = Url.RouteUrl(ViewContext.RouteData.Values);
    //console.log(Url.RouteUrl(ViewContext.RouteData.Values));

    $(document).ready(() => {
        Gameplay.initializeGameplay(@ViewData["RoomId"]);
        //initializeGameplay();
        //generateMap("#oponentMap", "oponent");
        //generateMap("#playerMap", "player");
    });
</script>

<div id="gameRoom" class="flexContainer">
    <div id="gameRoomHeader">
 
        <h2 id="gamestate">Gamestate</h2>

    </div>
    <div id="gameRoomBody">


        <div id="oponentField" class="gamefield">
            <div id="shipsList"></div>
            <div id="oponentMap" class="map"></div>
        </div>

        <div id="playerField" class="gamefield">
            <div id="playerMap" class="map clickable"></div>
        </div>


    </div>

</div>