
.map {
    display: flex;
    flex-flow: column nowrap;
}

.map .mapRow {
    display: flex;
    flex-flow: row nowrap;
}


.cell {
    width: 40px;
    height: 40px;
    margin: 2px;
    /*background-color: rgba(37, 42, 255, 0.4);*/
    background-color: #1767b4;
    transition: 0.3s linear;
}

.map .cell.miss {
    background-color: #0e375f;
    cursor: default;
}

#playerMap .cell.ship, .shipType .cell {
    background-color: #58bd00;
}


#playerMap .cell.complete {
    background-color: #294f07;
}

#oponentMap .cell.ship {
    background-color: #a50000;
    cursor: default;
}


#oponentMap .cell.complete {
    background-color: #570a0a;
    cursor: default;
}


#playerMap.clickable .cell, .cell.ship, .cell.complete {
    cursor: pointer;
}

#playerMap.clickable .cell.miss {
    cursor: not-allowed;
}

#oponentMap.clickable .cell {
    cursor: pointer;
}


/*.map.edit .cell.miss {
    cursor: not-allowed;
}*/

#gameRoom #gameRoomBody {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 90vw;
}

#shipsList {
    display: flex;
    flex-flow: column nowrap;

    align-items: flex-start;
    justify-content: center;
    width: 200px;
}

#shipsList .shipType {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;

    color: #c7e2fb;
}

.shipType span {
    margin-right: 5px;
    margin-left: 5px;
}
