
.map {
    display: flex;
    flex-flow: column nowrap;
}

.map .mapRow {
    display: flex;
    flex-flow: row nowrap;
}


.map .cell {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: rgba(37, 42, 255, 0.4);
}

    .map.clickable .cell {
        cursor: pointer
    }

    .map .cell.ship {
        background-color: rgba(255, 0, 0, 0.6);
        cursor: not-allowed;
    }

    .map .cell.miss {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: not-allowed;
    }

    .map .cell.complete {
        background-color: rgba(255, 0, 0, 0.2);
        cursor: not-allowed;
    }

#gameRoom #gameRoomBody {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 90vw;
}