#lobby #lobbyHeader
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    align-self: flex-start;

    width: 100%;
    padding: 5px;
    
}

#lobbyHeader button,div
{
    margin-left: 5px;
    margin-right: 5px;
}

#lobby #lobbyBody
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    height: 80vh;
    width: 90vw;

    overflow-y: auto;
}

#lobby .roomInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #c7e2fb;
    border-radius: 50px;
    color: #ddd;
    width: 300px;
    max-width: 90vw;
    height: 70px;
    margin: 5px;
    /*padding: 5px;*/
    cursor: pointer;
}

#lobby .roomInfo:hover {
    background-color: rgba(89, 207, 234, 0.1);
}

/*#lobby #roomList
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}*/

#lobby #roomInfo
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#roomInfo .roomName {
    flex-grow: 2;
    font-size: 2em;
}

#roomInfo .playerName {
    flex-grow: 1;
    font-size: 1.4em;
    color: #aaa;
}

#roomInfo i
{
    flex-grow: 1;
}

#RoomCreatePopUp {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
}

#shipListInputContainer {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: center;
}

#roomCreateOptions input {
    width: 30px;
}

#buttonHolder {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: space-around;
}

#roomCreateOptions {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;

    /*padding: 10px;*/
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}