
body {
    background-color: #5d89b2;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.body-content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.flexContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.warningLabel {
    color: red;
}

.popUp {
    position: fixed;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 10px;

    background-color: #386d9f;

    border-radius: 20px;
}

.buttonHolder {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

button {
    font-size: 0.9em;
    border: 3px solid #c7e2fb;
    padding: 6px;
    margin: 3px;
    border-radius: 15px;
    color: #c7e2fb;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 700;

    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 3px solid #fff;

}

button.main {
    background-color: rgba(235, 243, 251, 0.2);
}

button.locked {
    cursor: not-allowed;
}

button:focus {
    outline: none;
    border-color: #fff;
    color: #fff;
}

input {
    border: 3px solid #c7e2fb;
    background-color: #9cc4ea !important;
    color: #fff !important;
    padding: 6px;
    margin: 3px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

label {
    color: #c7e2fb;
    transition: 1s;
}

label.warning {
    text-decoration: none;
    color: #ee5353;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #ddd;
    padding: 5px;
}

a:hover {
    color: #fff;
}

a:focus {
    outline: none;
}

h1, h2, h3, h4 {
    color: #eee;
    margin: 10px;
}

indexHeader {
    font-size: 1.4em;
}

#index form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#index .playButton {
    font-size: 1.6em;
}

#index label {
    font-size: 1.1em;
}


button, label, div, span, a {
    animation: appeare 0.3s ease;
}

@keyframes appeare {
    from {opacity: 0;}
    to {opacity: 1;}
}